* {
  box-sizing: border-box
}

img, video, object {
  height: auto;
  max-width: 100%;
}

/********* FONTS ********/

@font-face {
  font-family: 'SourceSans';
  src: url('../webfonts/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansBlack';
  src: url('../webfonts/SourceSansPro-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansBold';
  src: url('../webfonts/SourceSansPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansItalics';
  src: url('../webfonts/SourceSansPro-It.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansBoldItalics';
  src: url('../webfonts/SourceSansPro-BoldIt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansLight';
  src: url('../webfonts/SourceSansPro-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansSemiBold';
  src: url('../webfonts/SourceSansPro-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icon';
  src: url('../webfonts/ionicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  border-bottom: 0.35em solid #3d7fb9;
  font: 100%/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-family: 'SourceSansLight';
  -webkit-text-size-adjust: 100%;
  color: #333;
  padding: 0;
  text-align: center;
}

article {
  margin: 0 auto;
  padding: 1em 0.75em 1em;
}

article#video-layout {
  padding: 0;
}

h1, .alpha {
  font-family: 'SourceSansSemiBold';
  font-size: 1em;
  line-height: 1.2em;
}

h2, .beta {
  font-family: 'SourceSansSemiBold';
  font-size: 0.938em;
  line-height: 1.25em;
  padding: 0.5em 0;
}

h3, .gamma {
  font-size: 0.875em;
  font-family: 'SourceSansSemiBold';
  line-height: 1.25em;
  padding: 0.5em;
}

h5, .epsilon {
  font-size: 0.75em;
  font-family: 'SourceSansSemiBold';
  line-height: 1.5em;
}

video {
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  max-width: 800px;
}

footer {
}

a {
  color: #0896f7;
  font-family: "SourceSansSemiBold";
  font-size: 1em;
  line-height: 1.1em;
  outline: 0 none;
  text-decoration: none;
}

.header {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.brand {
  margin: 0 0 0 auto;
  max-width: 10em;
}

.header .inner {
  padding-top: 5px;
  min-height: auto;
}

nav.primary-nav {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

nav.primary-nav a {
  padding: 0.5em 0.75em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

nav.primary-nav span {
  display: none;
  padding: 0;
}

nav.primary-nav span.icon {
  display: inline;
  padding: 0;
}

nav.primary-nav a span:before {
  padding: 0;
}

.main-menu {
  display: none;
  background-color: #3d7fb9;
  margin-left: -6.65em;
  margin-top: 1.4em;
  width: 15em;
}

.main-menu li.close {
  color: #fff;
  font-weight: bold;
  text-align: right;
  width: 90%;
  cursor: pointer;
}
.main-menu a {
  color: #fff;
}

.main-menu.open {
  display: block;
}

.menu, .log-out {
  display: inline;
  background-color: #3d7fb9;
  content: "\f394";
  color: #fff;
  font-family: SourceSansSemiBold;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(255, 255, 255, 0.15);
}

.log-out {
  background-color: #acb7d1;
}

.icon:before {
  color: #fff;
  cursor: pointer;
  font-family: 'Ionicons';
  font-size: 1.5em;
  margin: 0;
  padding: 0.25em 0.45em 0.35em;
  speak: none;
  line-height: 1em;
  text-align: center;
  width: 1em;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(255, 255, 255, 0.25);
}

.icon.disabled:before {
  color: #eee;
  cursor: default;
  opacity: 0.35;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.1), -1px 1px 0 rgba(255, 255, 255, 0.15);
}

.log-out .icon:before, .nav-open:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.log-out .icon:before {
  background-color: #acb7d1;
  content: "\f458";
  content: "\f13d";
  content: "\f29f";
  font-size: 1.35em;
  line-height: 1.2em;
}

.nav-open:before {
  background-color: #3d7fb9;
  content: "\f394";
}

.next:before {
  content: "\f125";
  font-size: 1.2em;
  padding: 0 0 0 1em;
}

.next {
  margin: 0 0 0 auto;
}

.previous:before {
  content: "\f124";
  font-size: 1.2em;
  padding: 0 1em 0 0;
}

.previous {
  margin: 0 auto 0 0;
}

.button .next:before, .button .previous:before, #MemberLoginForm_LoginForm_action_dologin {
  font-size: 1em;
}

.button, #MemberLoginForm_LoginForm_action_dologin {
  background-color: #6d9fca;
  clear: both;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'SourceSansSemiBold';
  font-size: 0.875em;
  letter-spacing: 0.025em;
  line-height: 1.2em;
  margin: 1em 0;
  padding: 0.75em 1em 0.8em;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(255, 255, 255, 0.25);
}

.next_exercise .button {
  margin: 0 0 1em;
}

.button.phasestage {
  display: block;
  margin: 0.25em auto;
  max-width: 16em;
}

.typography a {
  text-decoration: none;
  border-bottom: 0;
  color: #fff;
}

.typography a:hover {
  text-decoration: none;
  border-bottom: 0;
  color: #337dba;
}

.typography p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0 0 0.5rem;
}

p {
  font-size: 0.875em;
  padding: 0.5em 0;
}
.next_exercise p {
  padding: 0.5em 0 0.1em;
}

.main {
  padding: 0 0 2em;
}

/* Home page */
.phase_list a {
  display: block;
  padding: 0.5em;
  cursor: pointer;
  color: #3d7fb9;
  font-family: 'SourceSansLight';
}

.phase_list li:first-child a {
  font-family: 'SourceSansSemiBold';
}

.phase_list li {
  background-color: #e1e5ee;
  margin: 1px 0;
  padding: 0.5em;
}

.phase_list li:first-child {
  background-color: #eef1f6;
  font-family: "SourceSansSemiBold";
}

.phase_list a:hover {
  color: #0896f7;
}

ul.breadcrumbs {
  display: flex;
  margin: 0 0 2px;
}

.breadcrumbs li {
  cursor: pointer;
  font-family: "SourceSansSemiBold";
  font-size: 0.75em;
  line-height: 1em;
  margin: 0 2px 0 0;
  padding: 0.75em 1em;
}

.breadcrumbs li a {
  color: #fff;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(255, 255, 255, 0.15);
}

.breadcrumbs li:first-child {
  background-color: #85afd3;
}

.breadcrumbs li:nth-child(2) {
  background-color: #9ebfdc;
}

.breadcrumbs li:nth-child(3) {
  background-color: #b6cfe4;
}

.breadcrumbs li.disabled {
  background-color: #fafafa;
  background-color: #f8f8f8;
  color: #dadada;
  color: #CCC;
  cursor: default;
}

.member-welcome {
  padding: 1em 1.5em 1.1em;
  background-color: #dee2ed;
  border-bottom: 1px solid #e4e8f0;
  margin: 0 0 2px 0;
  padding: 0.75em 1em 0.9em;
}

.member-completed, .member-liketo, .member-continue, .recently-watched, .next-phase {
  text-align: center;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.member-liketo {
  font-size: 1rem;
}

.recently-watched, .next-phase {
  font-size: 1rem;
  clear: both;
}

.video-title h2 {
  text-transform: uppercase;
  width: 70%;
  margin: 0 5%;
  float: left;
  text-align: center;
  line-height: 50px;
}

.next:before {
  content: "\f125";
  font-size: 1.2em;
  padding: 0 0 0 1em;
}

.next {
  margin: 0 0 0 auto;
}

.previous:before {
  content: "\f124";
  font-size: 1.2em;
  padding: 0 1em 0 0;
}

.previous {
  margin: 0 auto 0 0;
}

.button .next:before, .button .previous:before {
  font-size: 1em;
}

.main-heading {
  background-color: #dee2ed;
  border-bottom: 1px solid #e4e8f0;
  margin: 0 0 2px 0;
  padding: 0.75em 1em 0.9em;
}

.MemberVideoNotesPage .main-heading {
  background-color: #8cb3d4;
  color: #fff;
}

.MemberVideoNotesPage .main-heading span {
  color: #0896f7;
  font-family: "SourceSansSemiBold";
  font-size: 1em;
  line-height: 1.1em;
  outline: 0 none;
  text-decoration: none;
  cursor: pointer;
}

.main-heading.trail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prev_video, .next_video {
  width: 10%;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
}

span.prev_video, span.next_video {
  color: #eee;
}

.video_file {
  max-height: 75%;
  margin-bottom: 1rem;
}

.video-text {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.875em;
  line-height: 1.5em;
  padding: 0.5em 1.25em;
  text-align: left;
}
.video-text span {
  width: 5em;
  margin: 0 0 0 auto;
  padding: 0 0 0.35em 0;
}

.video-text span:first-child {
  margin: 0 auto 0 0;
  width: 6em;
}

.next_exercise {
  margin: 0;
  clear: both;
}

.next_exercise {
  text-align: center;
  font-weight: bold;
}

.next_exercise .button {
  margin: 0 0 1em;
}

.next_exercise p {
  color: #669ecb;
}

.next_exercise a, .member-continue a {
  display: block;
  padding: 3% 5%;
  background-color: #669ecb;
  color: #fff;
  display: inline-block;
}

.phase-goals {
  text-align: center;
}

.phase-goals ul {
  list-style-position: inside;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.phase-goals ul li {
  display: list-item;
  font-size: 0.875em;
  list-style-position: inside;
  list-style-type: disc;
  padding: 0.25em 1em;
}

.stage {
  float: left;
  padding-right: 2rem;
}

.stage-videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.stage-videos .video-thumb {
  font-size: 0.75em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 50%;
}

.stage-videos .video-thumb img {
  width: 100%;
}

.stage a, .stage-videos a {
  color: #337dba;
}

.stage-title {
  padding: 1rem 0;
  font-size: 130%;
  clear: both;
}

.notes label {
  font-weight: bold;
  vertical-align: top;
  padding-right: 10px;
}

.notes textarea, .notes input[type="date"] {
  width: 95%;
  max-width: 320px;
  margin: 0 auto;
}

.save-note {
  background-color: #3d7fb9;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border: 0;
  margin: 0.5em;
}

.notes .note {
  border-bottom: 1px solid #eee;
  padding: 0.75em 0;
  text-align: left;
}
.notes .note a {
  color: #333;
  display: flex;
  font-family: 'SourceSansLight';
  flex-direction: row;
}
.notes span {
  padding: 0 0.75em;
  text-align: left;
}
.notes .date {
  width: 20%;
  min-width: 4em;
  padding: 0;
}
.notes .note-text {
  width: 80%;
  max-width: 30em;
}
.notes .edited {
  font-size: 0.75em;
  color: #999;
}

@media all and (min-width: 24em) {
  nav.primary-nav {
    flex-direction: row;
  }
  nav.primary-nav span {
    display: inline;
  }
  nav.primary-nav span.icon {
    padding: 0 0 0 0.5em;
  }
  .breadcrumbs li {
    font-size: 0.875em;
  }
  h1, .alpha {
    font-size: 1.1em;
  }
  h2, .beta {
    font-size: 1em;
  }
  h3, .gamma {
    font-size: 0.938em;
  }
  h5, .epsilon {
    font-size: 0.875em;
  }
  .next_exercise .button {
    margin: 0 0 1.5em;
  }
  .button, #MemberLoginForm_LoginForm_action_dologin {
    font-size: 0.875em;
    margin: 1.5em 0;
    padding: 0.75em 1.1em 0.8em;
  }
  #MemberLoginForm_LoginForm_Remember_Holder {
    vertical-align: top;
  }
  #MemberLoginForm_LoginForm_action_dologin {
    width: 100%;
  }
  #ForgotPassword {
    text-align: center;
  }
  .next_exercise .button {
    margin: 0 0 1.5em;
  }
  .stage-videos .video-thumb {
    padding: 1em;
  }
  p {
    font-size: 0.938em;
  }
  .phase-goals ul li {
    font-size: 0.938em;
  }
}

@media all and (min-width: 29.75em) {
  nav.primary-nav span {
    padding: 0;
  }
  .brand {
    max-width: 100%;
  }
  .icon:before {
    font-size: 2em;
  }
  .next_exercise p {
    padding: 1em 0 0.5em;
  }
  p {
    padding: 1em 0;
  }
  .log-out .icon:before {
    font-size: 1.75em;
  }
}

@media all and (min-width: 39.8em) {
  .video-text {
    font-size: 1em;
  }
  .video-text span {
    width: 30%;
  }
  .video-text span:first-child {
    width: 30%;
  }
}

@media all and (min-width: 46.8em) {
  .log-out {
    background-color: #acb7d1;
    padding: 1.25em 0 0.85em 1em;
  }
  .breadcrumbs li {
    font-size: 0.938em;
  }
  .main-heading {
    padding: 1em 1.5em 1.1em;
  }
  article {
    padding: 1em;
  }
  .SurgeryHomePage article {
    padding: 1em 0;
  }
  h1, .alpha {
    font-size: 1.25em;
  }
  h2, .beta {
    font-size: 1.1em;
  }
  h3, .gamma {
    font-size: 1em;
  }
  h5, .epsilon {
    font-size: 0.938em;
  }
  .stage-videos {
    padding: 1.5em 1em 1em;
  }
  .stage-videos .video-thumb {
    width: 25%;
  }
  .next_exercise .button {
    margin: 0 0 2em;
  }
  .button {
    font-size: 0.938em;
    margin: 2em 0;
    padding: 1em 2em 1.15em;
  }
  .next_exercise .button {
    margin: 0 0 2em;
  }
  .button.phasestage {
    display: inline-block;
    margin: 0.25em 0.1em;
  }
  p {
    font-size: 1em;
  }
  .phase-goals ul li {
    font-size: 1em;
  }
}
